// VARIABLES
//main theme
$primary: #f78214;
$black: #070707;
$grey: #1f1f1f;
$white: #ffffff;

// texts
$text-light: #fceee2;
$text-dark: #070707;
$text-grey: #8d8d8d;


//accents
$accent-blue: #caf2fe;
$accent-red: #ffcfcf;
